body {
    width: 600px;
    margin: 0 auto;
    font-family: Lucida Sans, sans-serif;
    color: #00376c;
}

a {
    color: #00376c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header, footer {
    text-align: center;
    background-color: #c7e3ff;
    margin-bottom: 40px;
}

header {
    border-bottom: 6px solid #7b7b7b;
    line-height: 80px;
}

footer {
    padding: 10px;
}

h2 {
    text-align: center;
    border-bottom: 2px solid #7b7b7b;
}

h3 {
    color: #1577ff;
    border-bottom: 2px solid #1577ff;
    display: inline;
}

.story, .services, .locations {
    padding: 10px 15px;
    margin-bottom: 40px;
    background-color: #e7e7e7;
}

.services p, footer p {
    font-style: italic;
}

img {
    width: 150px;
}